@font-face {
  font-family: 'Merryweather';
  src: url('/assets/fonts/Merriweather-Regular.ttf')
}

html {
  scroll-behavior: smooth
}

body {
  color: rgba(0, 0, 0, 0.85);
}

h1, h2:not(.lead), h3, .navbar-brand, .text-laser, .text-gold, .text-epic, .activated {
  font-family: "Merryweather";
  word-break: break-word;
}

nav.navbar {
  position: sticky;
  width: 100%;
  top: 0;
}

a.navbar-brand {
  background-color: initial;
}

.navbar-brand > img {
  height: 4rem;
}

body > div:first-child {
  padding: 160px auto;
}

.content-container > .row {
  padding: 8rem 4rem 6rem;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .content-container > .row {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.content-container > .row:nth-child(2) {
  height: calc(100vh - 8rem);
}

.content-container > .row > img {
  object-fit: cover;
}

.row.parallax-wrapper {
  width: 100vw;
}

.parallax {
  left: 0;
  z-index: -1;
}

p, li {
  font-size: 1.3rem;
  letter-spacing: .12rem
}

.text-gold {
  color: rgb(241, 182, 99);
}

.bg-gold {
  background-color: #ffcd5c;
  color: rgba(0, 0, 0, 0.85);
}

.bg-gold-light {
  background-color: #ffde95;
}

a,
a:hover {
  color: #5d89ff;
}

span.title {
  color: rgba(0, 0, 0, 0.45);
}

.activated {
  color: rgb(94, 107, 231) !important;
}

.lexic {
  transition: background-color 1s ease-in-out .5s, color 1s ease-in;
}

.lexic.open {
  background-color: rgb(94, 107, 231);
  color: white;
}

#era_page h1 {
  font-size: 4rem;
}

.container > p > img {
  margin: auto;
  display: block;
}