@font-face {
  font-family: 'Merryweather';
  src: url('/assets/fonts/Merriweather-Regular.ttf')
}

html {
  scroll-behavior: smooth
}

body {
  color: rgba(0, 0, 0, 0.85);
}

h1, h2:not(.lead), h3, .navbar-brand, .text-laser, .text-gold, .text-epic, .activated {
  font-family: "Merryweather";
  word-break: break-word;
}

nav.navbar {
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar-brand > img {
  height: 4rem;
}

body > div:first-child {
  padding: 160px auto;
}

.content-container > .row {
  min-height: 100vh;
  padding: 8rem 4rem 4rem;
}

.content-container > .row:first-child {
  height: calc(100vh - 8rem);
}

img#top-image {
  min-width: 800px;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

#home h1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}

#home h2 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

h1 + p {
  font-size: 2.8rem;
  color: rgba(0, 0, 0, .55)
}

p, li {
  font-size: 1.3rem;
  letter-spacing: .12rem
}

.text-gold {
  color: rgb(241, 182, 99);
}

.bg-gold {
  background-color: #ffcd5c;
  color: rgba(0, 0, 0, 0.85);
}

.bg-gold-light {
  background-color: #ffde95;
}

#home a {
  text-decoration: underline;
}

a,
a:hover {
  color: #5d89ff;
}

span.title {
  color: rgba(0, 0, 0, 0.45);
}

.activated {
  color: rgb(94, 107, 231) !important;
}

#eras a:not(:hover),
#era_page #pages_list a:not(.active):not(:hover),
#era_page #eras_list a:not(.active):not(:hover) {
  color: initial;
}

.lexic {
  transition: background-color 1s ease-in-out .5s, color 1s ease-in;
}

.lexic.open {
  background-color: rgb(94, 107, 231);
  color: white;
}

#era_page h1 {
  font-size: 4rem;
}

.container > p > img {
  margin: auto;
  display: block;
}